<main class="main">
  <div class="inner">
    <div class="task__wrapper">
      <p class="task__hedding">
        <%= @task.title %>
      </p>
      <%= link_to "by #{@task.user.name}", user_path(@task.user_id), class: :task__user %>
      <% if user_signed_in? && current_user.id == @task.user_id %>
        <div class="task__manage">
          <%= link_to "編集する", edit_task_path(@task.id), class: :task__btn %>
          <%= link_to "削除する", task_path(@task.id), method: :delete, class: :task__btn %>
        </div>
      <% end %>
      <div class="task__image">
        <%= image_tag @task.image %>
      </div>
      <div class="task__body">
        <div class="task__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @task.catch_copy %>
          </p>
        </div>
        <div class="task__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @task.concept %>
          </p>
        </div>
      </div>
      <div class="task__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@task, @comment], local: true) do |f| %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
            <% if @comments %>
              <%= comment.text%>
              <%= link_to comment.user.name, user_path(comment.user.id), class: :comment_user %>
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
